
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
}

.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
  height: 600px;
  margin: 100px auto;
  background-color: #252425;
  border-radius: 20%;
  color: #fff;

  &::before {
    position:absolute;
    top: -20px;
    left:20px;
    background-color: #252425;
    width: 1140px;
    height: 600px;
    content: '';
    opacity: 0.5;
    border-radius: 20%;
    z-index: -1;
  }

  #header {
    height: 200px;
    margin: 0 auto;
    h1 {
      text-align: center;
    }
  }

  #buttons {
    padding: 0;
    height: 200px;
    button {
      width: 200px;
      height: 100px;
      font-size: 32px;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
    }
  }

  #messages {
    height: 200px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 32px;
    text-align: center;
  }

}
